.quote-container {
    gap: 4rem;
    padding-top: 4rem;
    .quote-box {
        width: 40%;
        gap: 1rem;

        .quote-text {
            font-weight: 300;
        }

        .author-text {
            font-size: 1.1rem;
            font-weight: 500;
        }
    }

    .fa-sync-alt {
        display: inline-block;
        font-size: 1.1rem;
        cursor: pointer;
        transition: all .3s ease-in-out;
        color: $dark-gray;

        &:hover{
            color: $white;
        }
    }

    @include breakpoint-down(small){
        gap: 0;
        padding-inline: 1.25rem;
    }
}